{%extends "pages/base.html"%}

{% load staticfiles %}

{%block title%} Home {%endblock%}


{%block content %}

<div class="row">
    {% for lanmark in lanmarks %}
            <div class="col-md-3">
              <div class="thumbnail">
                <a href="{{lanmark.id}}">
                  <img src="{{lanmark.image.url}}" alt="Lights" style="width:100%">
                  <div class="caption">
                    <center>{{lanmark.title}}</center>
                  </div>
                </a>
              </div>
            </div>
    {% endfor %}
</div>
{%endblock%}