{%extends "pages/base.html"%}

{% load staticfiles %}

{%block title%} Home {%endblock%}


{%block content %}

<br>
<br>
<br>

<div class="row">
    <div class="col-md-12">
      <img class = "my_image" src="../../../media/hohoankiem.jpg" alt="hoankiem" style="width:50%">    
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="margin-top: 30px">
        <form class="form-inline" action="upload" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="file" name="myfile" class="btn-dark" style="margin-left: auto; margin-right: auto">
          <button type="submit" class="btn-success" style="margin-left: auto; margin-right: auto; margin-top:10px">Upload Your Image</button>
        </form>
    </div>
</div>

<br>
<br>
<br>

<div class="row">
    {% for lanmark in lanmarks %}
            <div class="col-md-3">
              <div class="thumbnail">
                <a href="{{lanmark.id}}">
                  <img src="{{lanmark.image.url}}" alt="Lights" style="width:100%">
                  <div class="caption">
                    <center>{{lanmark.title}}</center>
                  </div>
                </a>
              </div>
            </div>
    {% endfor %}
    
    <br/>
    {% if page_obj.has_next%}
      <a href="{{request.path}}?page={{page_obj.next_page_number}}">Tiếp Theo</a>
    {%endif%}
</div>
{%endblock%}