{%extends "pages/base.html"%}

{% load staticfiles %}

{%block title%} Home {%endblock%}


{%block content %}

<div class="row">
    {% for image in images %}
            <div class="col-md-3">
              <div class="thumbnail">
                <a href="static/{{image}}">
                  <img src="static/{{image}}" alt="Lights" style="width:100%">
                  <div class="caption">
                    <center>Caption</center>
                  </div>
                </a>
              </div>
            </div>
    {% endfor %}
</div>
{%endblock%}